{% extends 'base.html' %}

{% block title %} {{ object.shortcode }} | {{ block.super }} {% endblock title %}

{% block content %}
<div class="jumbotron">
    <h5>URL exists</h5>
    <h4 class="display-4">{{object.url}}
        {% if object.clickevent %}
        <span class="badge badge-secondary">{{object.clickevent.count}}</span>
        {% endif %}
    </h4>
    <hr class="my-4">
    <h3 class="mr-4">{{object.get_short_url}}</h3>
    <a class="btn btn-info btn-lg" href="{{object.get_short_url}}" title="Click here">
        {{object.shortcode}}</a>
</div>
{% endblock content %}
