<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener Home</title>
</head>
<body>
    <div align="center">
        <h1>{{h1title}}</h1>
        <form method="POST" action=".">
            {% csrf_token %}
            {{ form.as_p }}
<!--            <fieldset class="cf">-->
<!--                <input id="shorten_url" class="shorten-input" autocomplete="off" name="url" type="text" value="" placeholder="Shorten your link" />-->
<!--                <input id="shorten_btn" class="button button-primary button-large shorten-button" type="submit" value="Shorten" />-->
<!--            </fieldset>-->
<!--            <p></p>-->
<!--            <input type="text" placeholder="url" size="100" />-->
<!--            <br /><br />-->
            <input type="submit" value="Short it" />
        </form>
    </div>
</body>
</html>
