<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>kirr.co | {%block title%}Shorten that URL{%endblock title%}</title>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" /> -->
    <!-- <link rel="stylesheet" href="https://getbootstrap.com/docs/4.5/examples/cover/cover.css" /> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'cover.css' %}" />
    <style>
        body {
            background-image: url("{% static 'images/beach.jpg' %}");
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column mt-4">
    <main role="main" class="inner cover">
        <div class="text-center">
    {% block content %}
    {% endblock content %}
        </div>
    </main>
</div>
</body>
</html>
